html{
    background-color: blanchedalmond;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    border: 2px solid;
    /* padding: 30px; */
    /* width: 300px; */
    /* height: 150px; */
    box-sizing: border-box;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  

  h2 {
    text-align:center;
  }

  button,input{
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    border: 2px solid;
    /* padding: 30px; */
    /* width: 300px; */
    height: 30px;
    box-sizing: border-box;
  }
  div{
    display: flex;
  }